.mr-15 {
    margin-right: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50{
  padding-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100{
  padding-bottom: 100px;
}

.embed-responsive-custom {
  padding-bottom: 42%;
  margin-top: -125px;
  min-height: 350px;
  z-index: -99;

  video {
    object-fit: cover;
  }

}

.margin-center {
  margin-right: auto;
  margin-left: auto;
}