/* Helpers
==========================================================================*/

@import "colors/colors";
@import "distance";


/* Placeholders
   ========================================================================== */
// @import "placeholders/..";


/* Mixins
   ========================================================================== */
// @import "mixins/..";
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.col-flex {
  padding: 0 15px;
}
.col-clear {
  padding-left: 0;
  padding-right: 0;
}

